* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

@-ms-viewport {
  width: device-width;
}
#footer {
  background-color: #1a2124;
  color: white;
}

.text-center,
.text-md-left {
  text-align: center;
  padding: 0em 0em 1em 4em;
  font-size: 15px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.nav-container {
  padding: 1em 0em 0em 11em;
  justify-content: flex;
  position: relative;
}
.nav-item {
  padding: 1em 2em;
  font-size: small 13 regular;
  text-align: center;
}

body {
  line-height: 1;
  padding-top: 0em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.95em;
  letter-spacing: 0.005em;
}

nav.navbar.navbar-expand-lg.navbar-light.nav-container {
  padding: 0em 0em 0em 1.2em;
}
#navbarSupportedContent {
  padding: 0em 2em 0em 25em;
}
#home,
nav.navbar.navbar-expand-lg.navbar-light.bg-light.nav-container {
  background-color: #1a2124;
}

#header {
  z-index: 10000;
  color: rgb(255, 255, 255);
}

#header h1 {
  position: relative;
  left: 1em;
  top: 0;
  height: 3em;
  cursor: default;
  font-weight: 60;
}

#header h1 a {
  font-size: 1.25em;
}


#header nav ul {
  margin: 0;
}

#header nav ul li {
  display: inline-block;
  margin-left: 0.5em;
  font-size: small 13 regular;
  cursor: pointer;
}

#header nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  height: 2em;
  line-height: 2em;
  padding: 0 0.5em 0 0.5em;
  outline: 0;
}

.main.fullscreen {
  min-height: 100%;
}
.main.style1 {
  align-items: center;
  justify-content: center;
  padding: 1em 9em 1em 3em;
  overflow: hidden;
  position: absolute;
  color: #ffffff;
}
.main.style1 header {
  margin: 0;
  padding: 7em 10em 0.5em 3em;
  overflow: hidden;
  font-style: bold;
  font-weight: 60;
}
.main.style1 p {
  margin-top: 0;
  padding: 0em 44em 1em 3em;
  overflow: hidden;
  font-weight: 24 regular;
}

.main.style1 button {
  color: #ffffff;
  margin-left: 7em;
  background-color: #bd003e;
  padding: 10px 30px;
  font-size: small;
  border-radius: 25px;
}

.main.style1 .btn {
  font-size: 17.5px;
  margin: 0em 0em 0em 2.75em;
}

.main.style2 {
  align-items: center;
  justify-content: center;
  padding: 3em 0 3em 0;
  overflow: hidden;
}
.main.style2 header {
  margin: 0;
  padding: 5em 9em 1.5em 5em;
  overflow: hidden;
  font-style: strong;
  font-style: bold;
  font-weight: 60 bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.main.style2 p {
  margin-top: 0;
  padding: 0em 15em 0.5em 5em;
  overflow: hidden;
  font-weight: 20 regular;
  font-family: Arial, Helvetica, sans-serif;
}

.main.style3 {
  align-items: center;
  justify-content: center;
  padding: 0 2em 0 1em;
  overflow: hidden;
}

.main.style3 header {
  margin: 0;
  padding: 2em 5em 1.5em 1em;
  overflow: hidden;
  text-align: right;
  font-style: bold;
  font-weight: 60 bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.main.style3 p {
  margin-top: 0;
  padding: 0em 5em 2em 10em;
  overflow: hidden;
  font-weight: 20 regular;
  text-align: right;
}
#homie {
  background: url("photo.jfif") no-repeat center;
  position: relative;
  background-size: cover;
  padding: 0em 0em 0em 0em;
}

#members {
  background: url("Rectangle\ 10.png") no-repeat center;
  position: relative;
  background-size: cover;
  padding: 0em 0em 0em 0em;
}

#img1 {
  float: right;
  margin: 9em 4em 1em 1em;
}

#img2 {
  float: left;
  margin: 5em 1em 1em 7em;
  width: 300x;
  height: 300px;
}

.section {
  width: 100%;
  padding: 0 2%;
  margin: 0;
  max-width: none;
  height: 100vh;
}

.main.style4 {
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  font-style: bold;
  font-size: 50px;
}
#brand {
  float: left;
  position: relative;
  /*margin: -1.7em 0em -1.9em 0em;*/
  height: 140px;
  width: 160px;
}

.mentor {
  display: flex;
  justify-content: space-between;
  margin: 2em 2em 0em 2em;
  font-size: 25px;
  font-weight: 700;
}

.card-textt {
  color: white;
  font-size: 20px;
}
.card-bodyy {
  text-align: center;
}

.col {
  padding: 0em 9em 1em 3em;
  margin: 1em 1em 1em 1em;
}
#last {
  padding: 0em 45em 1em 1em;
}
/*@media screen and (max-width: 1920px) {
  body,
  input,
  textarea,
  select {
    font-size: 17px;
  }
}

@media screen and (max-width: 1680px) {
  body,
  input,
  textarea,
  select {
    font-size: 15pt;
  }
}

@media screen and (max-width: 1280px) {
  body,
  input,
  textarea,
  select {
    font-size: 13pt;
  }
}

@media screen and (max-width: 1000px) {
  body,
  input,
  textarea,
  select {
    font-size: 13pt;
  }
}

@media screen and (max-width: 736px) {
  body,
  input,
  textarea,
  select {
    font-size: 12pt;
    line-height: 1.5em;
  }
}
*/
/*
#checkbtn {
  font-size: 30px;
  color: #ffffff;
  float: right;
  line-height: 80px;
  margin-left: 27em;
  position: absolute;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 16px;
  }
  a:hover,
  a:active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
*/
.footer {
  background-color: #1a2124;
  height: 100vh;
  background-image: url("./Rectangle\ 339.png");
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position-x: center;
  background-position-y: center;
}

.members-home {
  background-color: black;
  height: 100vh;
  padding: 0em;
}
.members-home-mem {
  background: url("Rectangle\ 10.png") no-repeat center;
  position: relative;
  background-size: cover;
  padding: 0em 0em 0em 0em;
}
.secondslide {
  background-color: #1a2124;
}
.core {
  text-align: center;

  padding: 5em 0em;
  font-size: 4vw;
  font-weight: 700;
  color: white;
}
.core-team {
  text-align: center;

  padding: 1em 0em;
  font-size: 4vw;
  font-weight: 700;
  color: white;
  text-decoration: underline;
  text-decoration-color: red;
}

.team {
  padding: 3em;
}
.team1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team .card {
  border-radius: 20px;
}

.card img {
  height: 300px;
  width: auto;
  border-radius: 20px;
}

.insideteam1 {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

.insidecard {
  padding: 2em 0em;
}

.eventcards {
  padding: 2em 2em;
  background-color: #1a2124;
}

@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
  .navbar {
    padding: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
}
.navbar .navbar-nav .nav-link {
  position: relative;
}
/*.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffffff;
  color: transparent;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.5s;
}*/
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
  .navbar {
    padding: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
}
.navbar .navbar-nav .nav-link {
  position: relative;
}
/*.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffffff;
  color: transparent;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.5s;
}*/
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}
/*
@media screen and (max-width: 736px) {
  #header {
    height: 2.5em;
    line-height: 2.5em;
  }

  #header h1 {
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
    height: 1em;
    line-height: 2.5em;
  }

  #header h1 a {
    font-size: 1em;
  }

  #header nav {
    display: none;
  }
}
*/
/*
@media screen and (max-width: 1920px) {
  div.content.box.style2 {
    font-size: 5px;
    padding: 22em 0em;
  }
  div.content.box.style2 header {
    font-size: 8px;
    padding: 6em 5em 0em 1em;
  }
  div.content.box.style2 p {
    font-size: 8px;
    padding: 0em 13em 0em 1em;
  }

  button.btn.btn-danger {
    margin-left: 7em;
  }

  img#img1.img-fluid {
    width: 150px;
    height: 150px;
    padding: 1em 0.005em 1em 1em;
    margin-right: 0.75em;
  }

  div.content.box.style3 {
    font-size: 19px;
    padding: 1em 1em;
  }

  div.content.box.style3 header {
    font-size: 19px;
    padding: 1em 1.5em;
  }

  div.content.box.style3 p {
    font-size: 13px;
    padding: 0em 1em 0em 3em;
  }

  div.content.box.style4 {
    font-size: 19px;
    padding: 1em 0.7em;
  }

  div.content.box.style4 header {
    font-size: 17px;
    padding: 0em 0em;
  }

  div.content.box.style4 p {
    font-size: 12px;
    padding: 0em 0em 0em 0.0005em;
  }

  section.section {
    margin-bottom: 0em;
    width: 100%;
    padding: 0 2%;
    margin: 0;
    max-width: none;
    height: 100vh;
  }

  img#img2.img-fluid {
    width: 150px;
    height: 150px;
    padding: 1em 0.005em 1em 1em;
    margin-right: 0.75em;
  }
}
*/
/*
@media screen and (max-width: 1680px) {
  div.content.box.style2 {
    font-size: 5px;
    padding: 22em 0em;
  }
  div.content.box.style2 header {
    font-size: 8px;
    padding: 6em 5em 0em 1em;
  }
  div.content.box.style2 p {
    font-size: 8px;
    padding: 0em 13em 0em 1em;
  }

  button.btn.btn-danger {
    margin-left: 7em;
  }

  img#img1.img-fluid {
    width: 150px;
    height: 150px;
    padding: 1em 0.005em 1em 1em;
    margin-right: 0.75em;
  }

  div.content.box.style3 {
    font-size: 19px;
    padding: 1em 1em;
  }

  div.content.box.style3 header {
    font-size: 19px;
    padding: 1em 1.5em;
  }

  div.content.box.style3 p {
    font-size: 13px;
    padding: 0em 1em 0em 3em;
  }

  div.content.box.style4 {
    font-size: 19px;
    padding: 1em 0.7em;
  }

  div.content.box.style4 header {
    font-size: 17px;
    padding: 0em 0em;
  }

  div.content.box.style4 p {
    font-size: 12px;
    padding: 0em 0em 0em 0.0005em;
  }

  section.section {
    margin-bottom: 0em;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;
    height: 60vh;
  }

  img#img2.img-fluid {
    width: 150px;
    height: 150px;
    padding: 1em 0.005em 1em 1em;
    margin-right: 0.75em;
  }
}
*/

@media screen and (max-width: 1200px) {
  div.content.box.style2 {
    padding: 10em 0em;
  }
  div.content.box.style2 header {
    font-size: 27px;
    padding: 1em 5em 0em 1em;
  }
  div.content.box.style2 p {
    font-size: 20px;
    padding: 0em 30em 0em 1em;
  }

  button.btn.btn-danger {
    margin-left: 7em;
  }

  img#img1.img-fluid {
    width: 450px;
    height: 450px;
    padding: 1em 1em 1em 1em;
    margin-right: 0.75em;
  }

  div.content.box.style3 {
    font-size: 19px;
    padding: 1em 1em;
  }

  div.content.box.style3 header {
    font-size: 30px;
    padding: 1em 1.5em 0.5em 3em;
  }

  div.content.box.style3 p {
    font-size: 28px;
    padding: 0em 1em 0em 3em;
  }

  div.content.box.style4 {
    font-size: 19px;
    padding: 1em 0.7em;
  }

  div.content.box.style4 header {
    font-size: 30px;
    padding: 0em 2em;
  }

  div.content.box.style4 p {
    font-size: 28px;
    padding: 0em 2em 0em 0.0005em;
  }

  section.section {
    margin-bottom: 0em;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;
    height: 90vh;
  }

  img#img2.img-fluid {
    width: 450px;
    height: 450px;
    padding: 1em 0.005em 1em 1em;
    margin-right: 0.75em;
  }
}

@media screen and (max-width: 1000px) {
  div.content.box.style2 {
    padding: 5em 0em;
  }
  div.content.box.style2 header {
    font-size: 16px;
    padding: 4em 5em 0em 1em;
  }
  div.content.box.style2 p {
    font-size: 15px;
    padding: 0em 29em 0em 1em;
  }

  button.btn.btn-danger {
    margin-left: 7em;
  }

  img#img1.img-fluid {
    width: 350px;
    height: 350px;
    padding: 1em 2em 1em 1em;
    margin-right: 1em;
  }

  div.content.box.style3 {
    font-size: 19px;
    padding: 1em 1em;
  }

  div.content.box.style3 header {
    font-size: 22px;
    padding: 1em 3em;
  }

  div.content.box.style3 p {
    font-size: 22px;
    padding: 0em 1em 0em 3em;
  }

  div.content.box.style4 {
    font-size: 19px;
    padding: 1em 0.7em;
  }

  div.content.box.style4 header {
    font-size: 22px;
    padding: 0em 2em 0em 1em;
  }

  div.content.box.style4 p {
    font-size: 22px;
    padding: 0em 2em 0em 0em;
  }

  section.section {
    margin-bottom: 0em;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;
    height: 60vh;
  }

  img#img2.img-fluid {
    width: 350px;
    height: 350px;
    padding: 0.7em 0.0005em 1em 1em;
    margin-left: 2em;
  }
}

@media screen and (max-width: 736px) {
  div.content.box.style2 {
    font-size: 12px;
    padding: 7em 0.75em;
  }

  div.content.box.style2 p {
    font-size: 10px;
    padding: 0em 19em 0em 3em;
  }
  img#img1.img-fluid {
    width: 250px;
    height: 250px;
  }

  div.content.box.style3 {
    font-size: 15px;
    padding: 1em 1em;
  }

  div.content.box.style3 header {
    font-size: 17px;
    padding: 1em 2.5em;
  }

  div.content.box.style3 p {
    font-size: 15px;
    padding: 0em 1em 0em 3em;
  }

  div.content.box.style4 {
    font-size: 15px;
    padding: 1em 1em;
  }

  div.content.box.style4 header {
    font-size: 17px;
    padding: 1em 0em;
  }

  div.content.box.style4 p {
    font-size: 15px;
    padding: 0em 1em 0em 1em;
  }

  section.section {
    margin-bottom: 0em;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;
    height: 50vh;
  }

  img#img2.img-fluid {
    width: 250px;
    height: 250px;
    margin-left: 2em;
  }
}

@media screen and (max-width: 380px) {
  .navbar-light .navbar-toggler {
    color: white !important;
  }
  #navbarSupportedContent {
    padding: 0em 2em 0em 2em;
  }
  button.navbar-toggler {
    color: white;
  }

  img#brand.img-fluid {
    float: left;
    position: relative;
    /*margin: -2.3em 4em -5em -2em;
    padding-right: -6em;*/
    width: 130px;
    height: 100px;
  }
  b {
    font-size: 20px;
  }
  button.btn.btn-danger {
    margin-left: 2em;
  }
  .main.style1 .btn {
    font-size: 10px;
    margin: 0em 0em 0em -0.5em;
  }
  section#one.main.style1 {
    padding-left: 1em;
  }
  div.content.box.style2 {
    padding: 4em 0em;
  }
  div.content.box.style2 header {
    font-size: 1px;
    padding: 3em 5em 0em 0em;
  }
  div.content.box.style2 p {
    font-size: 8px;
    padding: 0em 9em 0em 0em;
  }

  button.btn.btn-danger {
    margin-left: 0em;
  }

  section#two.main.style2 {
    padding: 0;
  }
  div.content.box.style3 {
    font-size: 20px;
    padding: 1em 0em;
  }

  div.content.box.style3 header {
    font-size: 7px;
    padding: -1em -9em 1em 2em;
    text-align: center;
  }

  div.content.box.style3 p {
    font-size: 18px;
    padding: 0em 1.3em 0em 1.1em;
    text-align: center;
  }

  img#img1.img-fluid {
    padding: 0em 1em 0em 0em;
    margin-bottom: -99em;
    margin-top: 30em;
  }

  section#three.main.style2 {
    padding: 0;
  }
  section#three.main.style3 {
    padding: 0;
  }
  div.content.box.style4 {
    padding: 1em -2em;
  }

  div.content.box.style4 header {
    font-size: 7px;
    padding: -1em -9em 1em 2em;
    text-align: center;
  }

  div.content.box.style4 p {
    font-size: 18px;
    padding: 0em -2em 0em -2em;
    text-align: center;
  }

  div.col {
    padding-left: 80px;
  }
  img#img2.img-fluid {
    padding: 0em -3em 0em 1em;
    margin-bottom: -99em;
    margin-top: 30em;
    padding-left: 3em;
    height: 200px;
  }
  section#four.main.style2 {
    padding: 0;
  }
  section.section {
    margin-bottom: 0em;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;
    height: 50vh;
  }
  section.section1 {
    margin-bottom: 0em;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;
    height: 90vh;
  }
  section.section2 {
    margin-bottom: 0em;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;
    height: 90vh;
  }
  section.section3 {
    margin-bottom: 0em;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;
    height: 90vh;
  }
  section.section4 {
    margin-bottom: 0em;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;
    height: 90vh;
  }
  p.card-text {
    text-align: center;
    margin-left: -1.5em;
  }

  div.footer {
    margin-top: 5em;
    width: 100%;
    height: 100%;
    margin-bottom: 5em;
  }
  footer {
    margin: 19em -2em 0em 0em;
    font-size: 8px;
  }
  .fab {
    font-size: 2px;
    padding: 0;
    margin: 0;
  }
  div.col-md-7.col-lg-8 {
    padding: 0;
  }
  p.text-center.text-md-left {
    padding: -1em 8em 0em 8em;
  }
  div.text-center.text-md-right {
    padding: 0em 1em 0em 1em;
    margin: 0em 1em 0em 1em;
  }
  i.fab.fa-instagram {
    padding: 0;
  }
  .core {
    padding: 10em 1em 0em 1em;
    font-size: 40px;
  }
  .insideteam1 {
    padding: 2em 1em;
    width: 100%;
  }
  img.card-img-top {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  div.insidecard {
    font-size: 9px;
  }
  div.col {
    padding: 0em 1.3em 0.5em 1.3em;
  }
}
